# Python
__pycache__
*.pyc 

# Jupyter Notebook
*.ipynb_checkpoints 

# Application specific
secrets.json
pacmanweb/tests/data/*
!pacmanweb/tests/data/input_panelist_data/
!pacmanweb/tests/data/input_proposal_data/

!pacmanweb/tests/data/models/
pacmanweb/tests/data/models/*
!pacmanweb/tests/data/models/README.md

# Logs
logs/
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Local development
*.local

# Editor-specific files
.vscode/
!.vscode/extensions.json
.idea/

# Miscellaneous
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?