# Python
__pycache__
*.pyc 

# Jupyter Notebook
*.ipynb_checkpoints 

# Application specific
secrets.json

# Logs
logs/
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Local development
*.local

# Editor-specific files
.vscode/
!.vscode/extensions.json
.idea/

# Miscellaneous
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?