#right-corner{
    display: flex;
    margin-right: 10px;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

img{
    width: 40px;
    border-radius: 50%;
}

.nav-item{
    width: 310px;
}

.active{
    background-color: #E7ECEF;
    font-weight: bold;
}

.icon{
    height: 20px;
    width: 20px;
}
