#right-corner{
    display: flex;
    margin-right: 10px;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

img{
    width: 40px;
    border-radius: 50%;
}

.nav-item{
    width: 220px;
    font-size: 14px;
    color: black;
}

.active{
    background-color: #E7ECEF;
}

.icon{
    height: 20px;
    width: 20px;
}

.me-auto{
    align-items: center;
}

.nav{
    display: flex;
        flex-wrap: wrap;/
}

.container-nav{
    width: 100%;
    max-width: none;
    display: flex;
}

@media (max-width: 1000px){
    #right-corner .logout {
        display: flex;
        align-items: center;
    }

    #right-corner .logout img {
        display: none;
        content: attr(alt);
    }
}