#right-corner{
    display: flex;
    margin-right: 10px;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

img{
    width: 40px;
    border-radius: 50%;
}

.nav-item{
    width: 223px;
    font-size: 14px;
}

.active{
    background-color: #E7ECEF;
}

.icon{
    height: 20px;
    width: 20px;
}

.nav{
    margin-left: 100px;
}
