#outer-container{
    height: 400px;
    display: flex;
    justify-content: space-around;
}

h6{
    text-align: left;
    margin-top: 5px;
}

#left-section{
    width: 68%;
}

#right-section {
    width: 28%;
}

.w-11{
    width: 90px;
}

.w-22 {
    width: 180px;
}

.w-33 {
    width: 270px;
}

.table-container{
    overflow-y: auto;
    max-height: 350px;
}

thead{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #E7ECEF;
}

td{
    cursor: pointer;
}
table{
    border-collapse: separate;
}

th, 
td {
    font-size: small;
    height: 65px;
    background-color: #E7ECEF;
    text-align: left;
    vertical-align: middle;
    border-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 20px;
}

.button-tray{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 22px;
}

/* Define the highlight animation */
@keyframes highlight {
    0% {
        background-color: #E7ECEF;
        box-shadow: none;
        color: white;
    }

    100% {
        background-color: #7A8E99;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        color: white;
    }
}

/* Apply the animation to the highlighted class */
.highlighted >td {
    animation: highlight 0.5s ease-in-out forwards;
}
