#outer-container{
    height: 400px;
    display: flex;
    justify-content: space-around;
}

h6{
    text-align: left;
    margin-top: 5px;
}

#left-section{
    width: 68%;
}

#right-section {
    width: 28%;
}

.w-11{
    width: 90px;
}

.w-22 {
    width: 180px;
}

.w-33 {
    width: 270px;
}

.table-container{
    overflow-y: auto;
    max-height: 350px;
}

th{
    height: 65px;
}

th, 
td {
    background-color: #E7ECEF !important;
    font-size: small;
    text-align: left;
    vertical-align: middle;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 15px !important;
    padding-right: 20px !important;
}

.button-tray{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 22px;
}