body {
  font-family: 'Manrope';
}

#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#outer-container {
  height: 500px;
  display: flex;
  gap: 52px;
}

#log-container {
  height: 500px;
  background-color: black;
  overflow-y: auto;
  text-align: left;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column-reverse;
}
.col-md-9{
  width: 71%;
}
#log-container>* {
  color: white;
  font-family: monospace;
}

h6 {
  text-align: left;
  padding-bottom: 10px;
  overflow-x: auto;
  font-weight: bolder;
  white-space: nowrap;
  font-size: larger;
}

.table-container {
  overflow-y: auto;
  background-color:#E7ECEF;
  height: 400px;
}
thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

td {
  cursor: pointer;
  font-size: small;
}

th,
td {
  height: 65px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  text-align: left;
  vertical-align: middle;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 20px;
}

th {
  font-size: medium !important;
  background-color: #E7ECEF;
  z-index: 2;
}

.button-tray {
  margin-top: 40px;
  display: flex;
  gap: 22px;
}

/* Define the highlight animation */
@keyframes highlight {
  0% {
    background-color: #E7ECEF;
    box-shadow: none;
    color: white;
  }

  100% {
    background-color: #7A8E99;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
  }
}

/* Apply the animation to the highlighted class */
.highlighted>td {
  animation: highlight 0.5s ease-in-out forwards;
}